<html>

<head>
	<title>Pixel Beach - Node Knockout 2017</title>
	<meta property="og:title" content="Pixel Beach">
	<meta property="og:site_name" content="Pixel Beach">
	<meta property="og:url" content="https://nodeknockout.herokuapp.com">
	<meta property="og:description" content="Surfs up! Ride the wave to victory, but watch out for those gnarly floaters! - By Little Nebula">
	<meta property="og:image" content="https://i.imgur.com/ZqAo5NY.jpg">
</head>

<body>
  <div id="game"></div>
</body>

</html>
